html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#hero {
  height: 90vh;
  align-content: center;
}

body {
  height: 100%;
  background-image: linear-gradient(#3b4a60, #000000);
  font-family: "League Spartan", sans-serif;
}

h1,
h2,
h3,
a,
.feature-icon-small,
.activeProjects {
  color: #05fdfe;
}

h4,
h5,
.activeCV {
  color: #fe8bf3;
}

p,
ul,
li,
.white {
  color: white;
}

#hero {
  opacity: 90%;
}

.profilepic {
  height: 200px;
  border-radius: 50%;
}

.cvpic {
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

#cvbtn {
  --bs-btn-color: #fe8bf3;
  --bs-btn-hover-bg: #fe8bf3;
  --bs-btn-border-color: #fe8bf3;
  --bs-btn-hover-border-color: var(--bs-btn-border-color);
  --bs-btn-active-bg: var(--bs-btn-border-color);
  --bs-btn-active-border-color: var(--bs-btn-border-color);
  --bs-btn-hover-bg: var(--bs-btn-border-color);
}

.fa {
  font-size: 24px;
}

#nameHeader {
  font-family: "Cookie", cursive;
  color: #05fdfe;
  font-size: 5rem;
}

.navbar.scrolled {
  background-color: #1c222e;
}

.container {
  padding-top: 10px;
}

.dropdown-menu,
a.dropdown-item {
  background-color: #1c222e;
  color: white;
}

.technology-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
}

.icon {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  /* color: #31e1f7; */
}

.icon:hover {
  transform: scale(1.5);
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.techIcon {
  margin: 20px;
  font-size: 50px;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialLinks:hover,
.navSocialLinks:hover {
  fill: #05fdfe;
}

@media screen and (max-width: 1000px) {
  #indexbtns {
    justify-content: center;
  }
  #basic-navbar-nav {
    background-color: #1c222e;
  }
  .techIcon {
    margin: 15px;
  }
  .icon-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .navSocialLinks {
    display: none;
  }
  #hero {
    margin-bottom: 10px;
    display: inline-flex;
  }
  #mainLogo {
    width: 300px;
    height: 300px;
  }
}
